<%
const title = '会社概要｜スマホアプリ開発・UIUXデザイン・Web制作｜株式会社ブリューアス(Brewus,Inc.)';
const gaPageTitle = 'company';
const isIntroAnime = false;

const pankuzuList = [
  { label: 'Home', url: '/' },
  { label: 'Company', url: '' },
];

const officerList = [
  {
    key: 'yasukawa',
    name: '安川　昌平',
    position: '代表取締役社長',
    desc: [
      '早稲田大学理工学部を卒業後、新卒にて日本オラクルでERPシステムの導入コンサルを3年経験',
      '2012年トライフォートの設立から参画、2015年トライフォートの取締役に就任。これまでに関わったアプリの企画や開発案件は自社サービスも含めて100以上担当し、領域もエンタメ、SNS、ライフスタイル、ECなど幅広く経験。',
      '2020年にトライフォートのサービス領域（非ゲーム領域）の受託系事業を継承する形でブリューアスを設立し、代表取締役に就任。'
    ]
  },
  {
    key: 'shimamoto',
    name: '嶋本　洋',
    position: '取締役',
    desc: [
      '早稲田大学第一文学部を卒業後、韓国へ留学。',
      '韓国でITベンチャーの立ち上に参画。',
      '2002年に帰国後、企業のIT部門やITベンチャー企業にて、事業責任者として新サービスや新規事業の立ち上げに従事。事業企画・計画やサービスの仕様策定から新規開発、運用フローの作成や実運用まで経験。',
      '2017年 ブリューアスの前身であるトライフォートに入社後、2020年にブリューアスの取締役に就任。',
      '',
    ]
  },
  {
    key: 'kaneko',
    name: '金子　陽三',
    position: '取締役',
    desc: [
      '慶應義塾大学総合政策学部卒業後、リーマン・ブラザーズ証券会社投資銀行本部にて金融機関の資金調達や事業法人のM&Aに従事。その後、米国シリコンバレーのVCドレーパー・フィッシャー・ジャーベットソンを経て、2002年、インキュベーション・オフィスを運営する株式会社アップステアーズを設立し代表取締役に就任。',
      '2004年に同社をネットエイジキャピタルパートナーズ株式会社（現ユナイテッド株式会社）へ売却。2007年、モーションビート株式会社（現ユナイテッド株式会社）取締役兼執行役COO兼投資事業本部長に就任。2009年2月より当社代表執行役社長を経て、2012年12月、スパイアと合併し、ユナイテッド株式会社代表取締役社長COOに就任（現任）。',
    ]
  },
];

const historyList = [
  {
    label: '2012.08',
    desc: [
      'スマートフォンアプリケーション開発を目的として',
      'トライフォート株式会社を東京都港区西麻布に設立'
    ]
  },
  {
    label: '2012.08',
    desc: [
      '非ゲーム領域アプリケーションの受託業務を開始',
      '（後にスマートフォンアプリ事業本部　サービス開発部として部門化）'
    ]
  },
  {
    label: '2013.12',
    desc: [ '渋谷区桜丘町メイセイビル1階に移転' ]
  },
  {
    label: '2014.09',
    desc: [ '渋谷区円山町E・スペースタワー4階・5階に移転' ]
  },
  {
    label: '2015.07',
    desc: [ '安川昌平がトライフォート株式会社の取締役に就任' ]
  },
  {
    label: '2018.09',
    desc: [ 'ユナイテッド株式会社による当社株式取得に伴い同社グループへ参画' ]
  },
  {
    label: '2020.02',
    desc: [
      'スマートフォンアプリ事業本部サービス開発部を新設分割により',
      '株式会社ブリューアス（Brewus,Inc.）を設立'
    ]
  },
  {
    label: '2020.02',
    desc: [ '安川昌平が当社の代表取締役社長に就任' ]
  },
];
%>

<% include /src/components/_head %>
<main id="company">
  <article>
    <section class="content content--head">
      <div class="content__bg"></div>
      <div class="content__header content__header--company content__header--bg">
        <div class="content__header__title">
          <h2>Company</h2>
        </div>
      </div>
      <div class="content__nav">
        <nav>
          <ol>
            <%
              for (var i = 0; i < pankuzuList.length; i++) {
              const d = pankuzuList[i];
            %>
              <li>
                <% if (d.url) { %><a href="<%= ROOT + d.url %>"><% } %>
                  <%= d.label %>
                <% if (d.url) { %></a><% } %>
              </li>
            <% } %>
          </ol>
        </nav>
      </div>
    </section>

    <section class="profile content">
      <div class="content__inner feedInTop" data-in-point="profile">
        <h3>会社概要</h3>
        <div class="profile__desc">
          <dl>
            <dt>会社名</dt>
            <dd>株式会社ブリューアス (Brewus,Inc.)</dd>

            <dt>設立</dt>
            <dd>2020年2月28日</dd>

            <dt>所在地</dt>
            <dd class="profile__desc__address">
              <p>〒150-0002</p>
              <p>東京都渋谷区渋谷1-2-5 MFPR渋谷ビル　B1F（受付）・10F（<a class="profile__desc__address__link accessPoint">GoogleMap</a>）</p>
              <p>※受付はUNITEDと同じになります。</p>
            </dd>

            <dt>事業内容</dt>
            <dd>スマートフォン向けアプリケーション開発</dd>

            <dt>役員体制</dt>
            <dd>
              <ul>
                <li><span>代表取締役社長</span>安川昌平</li>
                <li><span>取締役</span>嶋本洋</li>
                <li><span>取締役</span>金子陽三</li>
              </ul>
            </dd>

            <dt>従業員</dt>
            <dd>50名 ※2020年3月時点（業務委託・派遣社員含む）</dd>

            <dt>株主</dt>
            <dd>ユナイテッド株式会社</dd>
          </dl>
        </div>
      </div>
    </section>

    <section class="access content">
      <h3>アクセスマップ</h3>

      <div class="access__content">
        <div class="access__content__desc feedInLeft" data-in-point="access" data-feedIn-classname="access__content__map">
          <dl>
            <dt>
              <div class="access__content__desc__logo">
                <img src="<%= IMAGE_ROOT %>/logo_s_color_t.png" alt="Brewus,Inc.">
              </div>
            </dt>
            <dd>〒150-0002</dd>
            <dd>東京都渋谷区渋谷1-2-5 MFPR渋谷ビルB1F（受付）・10F</dd>
            <dd>渋谷駅から徒歩8分、表参道駅から徒歩7分</dd>
          </dl>
        </div>

        <div class="access__content__map feedIn">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.640739743127!2d139.7072024847885!3d35.66122204194848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b5f53ad4931%3A0xd6ce108ac646cc7e!2zTUZQUua4i-iwt-ODk-ODqw!5e0!3m2!1sja!2sjp!4v1582860198918!5m2!1sja!2sjp" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </section>

    <section class="message content">
      <div class="content__inner feedInTop" data-in-point="message">
        <h3>代表挨拶</h3>

        <div class="message__desc">
          <p>株式会社ブリューアスはその前身となるトライフォートのサービス開発部の時代から数えると2020年で8年目を迎え、2月28日に新設分割を行い新たな出発をすることとなりました。</p>
          <p>8年前の設立時より一貫して変化し続ける世の中にまだ体験したことのない新しいサービスを届けるべく技術を中心に「ものづくり」を続けてきましたが、まさに今も数ヶ月まで当たり前だと思っていた日常や常識や固定概念が根底から変わるような事態が起きています。</p>
          <br>
          <p>ただ、そんな変化の中だからこそ新しい技術を最大限活用することで、従来のコミュニケーションや売買や出会いやエンターテイメントの方法を変化させて、新しい「何か」が創造されるチャンスでもあります。</p>
          <p>そして新しい「何か」が生まれるときには、そこには必ず作りたいと思う人の強い思いがあり、変化を望む使い手の熱望がいて、我々はその両者と共にものづくりを通して新しい何かを世の中に届けていくことが使命だと考えています。</p>
          <br>
          <p>ブリューアスは新しい「何か」が生まれることに常にワクワクし、生み出すために常に変化を恐れずチャレンジし、作り出すことに常に実直に向き合うことができる仲間と共に次なるあたりまえを生み出していきます。</p>

          <p class="message__desc__footer">
            <span>代表取締役社長</span><img src="<%= IMAGE_ROOT %>/sign.png" alt="安川昌平">
          </p>
        </div>
      </div>
    </section>

    <section class="officers content">
      <div class="content__inner feedInTop" data-in-point="officers">
        <h3>役員紹介</h3>
        <%
          for (var i = 0; i < officerList.length; i++) {
          const d = officerList[i]
        %>
          <section class="officerCard">
            <div class="officerCard__img">
              <img src="<%= IMAGE_ROOT %>/company/officer_<%= d.key %>.png" srcset="<%= IMAGE_ROOT %>/company/officer_<%= d.key %>.png 1x, <%= IMAGE_ROOT %>/company/officer_<%= d.key %>@2x.png 2x" alt="<%= d.name %>">
            </div>

            <div class="officerCard__desc">
              <h4><span><%= d.position %></span><%= d.name %></h4>

              <%
                for (var n = 0; n < d.desc.length; n++) {
                const val = d.desc[n]
              %>
                <p><%= val %></p>
              <% } %>
            </div>
          </section>
        <% } %>
      </div>
    </section>

    <section class="history content">
      <div class="content__inner feedInTop" data-in-point="history">
        <h3>沿革</h3>
        <div class="historyList">
          <ul>
          <%
            for (var i = 0; i < historyList.length; i++) {
            const d = historyList[i]
          %>
            <li class="historyList__item">
              <span><%= d.label %></span>
              <div class="historyList__item__desc">
                <%
                  for (var n = 0; n < d.desc.length; n++) {
                  const val = d.desc[n]
                %>
                  <p><%= val %></p>
                <% } %>
              </div>
            </li>
          <% } %>
          </ul>
        </div>
      </div>
    </section>
  </article>
</main>
<% include /src/components/_foot %>
