<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title><%= title %></title>

	<meta name="description" content="スマホアプリ開発を中心にUIUXデザインからWeb制作まで、多様な技術力と実績を持つ開発会社です。BtoBからBtoCまで幅広い領域での制作・開発経験があります。企画から運用・品質管理まで、貴社の成功をワンストップで支援いたします。">
	<meta name="copyright" content="&copy; 2020 Brewus,Inc.">
	<meta name="theme-color" content="#ffffff">
	<meta property="og:locale" content="ja_JP">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="スマホアプリ開発・UIUXデザイン・Web制作｜株式会社ブリューアス(Brewus,Inc.)">
	<meta property="og:title" content="スマホアプリ開発・UIUXデザイン・Web制作｜株式会社ブリューアス(Brewus,Inc.)">
	<meta property="og:description" content="スマホアプリ開発を中心にUIUXデザインからWeb制作まで、多様な技術力と実績を持つ開発会社です。BtoBからBtoCまで幅広い領域での制作・開発経験があります。企画から運用・品質管理まで、貴社の成功をワンストップで支援いたします。">
	<meta property="og:url" content="https://brewus.co.jp/">
	<meta property="fb:app_id" content="1109948266054290">
	<meta property="og:image" content="https://brewus.co.jp/assets/images/ogimage.png">
	<meta property="og:image:secure_url" content="https://brewus.co.jp/assets/images/ogimage.png">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="630">
	<meta name="google-site-verification" content="YRRzsbgG7XJXWL8DENxCGwnt1o7RwBy70EAs2GS_aQw">
	<link rel="apple-touch-icon" sizes="180x180" href="https://brewus.co.jp/assets/images/apple-touch-icon.png">
  <link rel="icon" href="<%= IMAGE_ROOT %>/favicon.ico">

  <link rel="preload" href="<%= ASSETS_ROOT %>/fonts/Heebo-Bold.ttf" as="font" crossorigin="anonymous">
  <link rel="preload" href="<%= ASSETS_ROOT %>/fonts/Heebo-ExtraBold.ttf" as="font" crossorigin="anonymous">
  <link rel="preload" href="<%= ASSETS_ROOT %>/fonts/SourceHanSans-Medium.otf" as="font" crossorigin="anonymous">

  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164264711-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-164264711-1', { page_title: '<%= gaPageTitle %>' });
  </script>
</head>
<body class="<%= isIntroAnime ? 'animation' : '' %>">
  <% include /atoms/gHeader %>
