<footer class="gFooter">
  <div class="gFooter__contact contact content">
    <div class="contact__desc feedInTop" data-in-point="gFooter">
      <h2>Contact</h2>
      <p>「MONOZUKURI Platform」を理念に掲げ、様々な案件を成功に導いたものづくり集団が、貴社の成功を支援します。</p>
      <p>制作／開発ついてのお見積り・サービスに関するご相談・採用についてなど、こちらよりご気軽にお問合せください。</p>
    </div>

    <div class="contact__info">
      <dl>
        <dt>Brewus,Inc.</dt>
        <dd>株式会社ブリューアス</dd>
        <dd>〒150-0002<br>東京都渋谷区渋谷1-2-5 MFPR渋谷ビル B1F(受付)・12F(<% if (gaPageTitle == 'company') { %><a class="accessPoint"><% } else { %><a href="<%= ROOT + '/company#access' %>"><% } %>GoogleMap</a>)</dd>
      </dl>

      <div class="contact__info__link">
        <a class="btn btn--icon btn--arrow gaEvent" data-category-name="click_both" data-action-name="contact_form" data-page-title="<%= gaPageTitle %>" data-label-name="footer_contact" href="https://forms.gle/7h7fDVmieY4ShD3T6"><span>制作に関してのお問い合わせ</span></a>
        <a class="btn btn--icon btn--arrow gaEvent" data-category-name="click_both" data-action-name="contact_form" data-page-title="<%= gaPageTitle %>" data-label-name="footer_contact" href="https://forms.gle/7h7fDVmieY4ShD3T6"><span>採用に関してのお問合せ</span></a>
      </div>
    </div>
  </div>

  <div class="gFooter__info">
    <a class="gFooter__info__logo" href="<%= ROOT + '/' %>">
      <img src="<%= IMAGE_ROOT %>/logo_w.png">
    </a>

    <div class="gFooter__info__nav">
      <% include gFooterNav %>

      <address>&copy;2020 Brewus,Inc.</address>
    </div>
  </div>
</footer>
